<main>
  <div class="contenido">
    <div class="main_text" id="top">A blog made by a rock climbing traveller for rock climbing travellers</div>
    <img class="imagen_main" src="/assets/images/IMG20200209131732.jpg"></img>
  </div>
  <div class="about_me" id="about">
    <h2 class="about_title">About me</h2>
    <p>During the last 5 years I have had the pleasure to rock climb in many places in the world that I´ve put together including a brief description for anyone who's wondering where to go rock climbing next!</p>
    <br>
    <p>As a new web developer, I am hoping to be improving this site's code quite often adding new functionalities and surely changing the design for the better.</p>
  </div>
</main>