// fonts
$font-main: 'Raleway',sans-serif;
$font-title: 'Source Sans Pro',sans-serif;


// colors
$color-primary: #16a085;
$color-secondary: #bdc3c7;
$color-main-text: #2c3e50;
$color-secondary-text:#ecf0f1;

//margin top text
$margin_main: 5vh;
