.contact_message{
    text-align: center;
    padding: $margin_main;
    font-style: italic;
}
form{
    display: flex;
    flex-flow: column nowrap;
    width: 100vw;
    height: auto;
    padding: 0.5rem;
    justify-content: space-evenly;
}
form *{
    display: block;
    width: 35vw;
    align-self: center;
    margin: 0.1rem;
}
label{
    font-size: xx-small;
}
input{
    font-size: x-small;
    margin-bottom: 0.5rem;
}
.message_box{
    height: 5rem;
}
.btn_submit{
    width: auto;
    padding: 0.1rem;
}
