.header {
  position: fixed; 
  display: flex;
  justify-content: space-between; 
  background-color: black;
  top:0;
  height: 8vh;
  min-height: 30px;
  width: 100%;
  z-index: 1;
  }
  .header_image {
    width: 60px;
    height: auto;
  }
  .menu{
    display: flex;
    width: 70%;
    margin: 1rem;
    justify-content: space-around;
    align-items: center;
  }
  .menu a {
    text-decoration: none;
    color: whitesmoke;
    font: bold;
    font-size: 0.5rem;
    padding: 0.2rem;
  }