.header {
  position: absolute; 
  display: flex;
  justify-content: space-between; 
  background-color: black;
  height: 4.2rem;
  width: 100%;
  }
  .header_image {
    width: 100px;
    height: auto;
  }
  .menu{
    display: flex;
    width: 70%;
    margin: 1rem;
    justify-content: space-around;
    align-items: center;
  }
  .menu a {
    text-decoration: none;
    color: whitesmoke;
    font: bold;
    font-size: x-small;
    padding: 0.2rem;
  }