body {
   margin: 0;
   height: 100vh;
   background-color: rgb(212, 211, 211);
   font-family: $font-main;
 }
 main{
   position: relative;
   width: 100vw;
   height: 86vh;
   top: 8vh;
 }
 .main_text{
   color: rgb(43, 42, 42);
   font-style: italic;
   font-weight: bold;
   text-align: center;
   margin: 5vh;
 }
 .imagen_main{
   position: relative;
  max-width: 300px;
  max-height: 300px;
  left:50%;
  transform: translate(-50%);
 }